.slide-top {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.755, 0.050, 0.855, 0.060) forwards;
    animation: slide-top 0.5s cubic-bezier(0.755, 0.050, 0.855, 0.060) forwards;
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}



.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 1%;
    right: 28px;
    width: 280px;
}
.Friends-List-Body {
    background-color: rgba(0,0,0,0.4) !important;
    padding: 16px 20px;
    border: none;
    cursor: auto;
    opacity: 0.8;
    position: fixed;
    bottom: -3%;
    right: 0%;
    width: 25%;
    height: 50%;
    overflow: auto;
    border-radius: 15px !important;
}
.chat_position {
    position: fixed;
    right: 75px;
    top: 50%;
    width: 25%;
    height: 50% !important;
}

.chat {
    margin-top: auto;
    margin-bottom: auto;
}

.card {
    border-radius: 15px !important;
}

.contacts_body {
    padding: 0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
    color:white;
}

.msg_card_body {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #d8d8d8;
}

.card-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
    color: green;
  
}

.card-footer {
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
    background-color: #d8d8d8 !important;
}

.container {
    align-content: center;
}

.search {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0,0,0,0.3) !important;
    border: 0 !important;
    color: white !important;
}

    .search:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }

.type_msg {
    border: 0 !important;
    height: 60px !important;
    overflow-y: auto;
    border-radius: 20px 0px 0px 20px;
}

    .type_msg:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }

.attach_btn {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0,0,0,0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.send_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.search_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.contacts {
    list-style: none;
    padding: 0;
}

    .contacts li {
        width: 100% !important;
        padding: 5px 10px;
        margin-bottom: 15px !important;
    }

.active {
    background-color: rgba(0,0,0,0.3);
}

.user_img {
    height: 70px;
    width: 70px;
    border: 1.5px solid #f5f6fa;
}

.user_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;
}

.img_cont {
    position: relative;
    height: 70px;
    width: 70px;
}

.img_cont_msg {
    height: 40px;
    width: 40px;
}

.online_icon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border: 1.5px solid white;
}

.offline {
    background-color: #c23616 !important;
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

    .user_info span {
        font-size: 20px;
        color: white;
    }

    .user_info p {
        font-size: 10px;
        color: rgba(255,255,255,0.6);
    }

.video_cam {
    margin-left: 50px;
    margin-top: 5px;
}

    .video_cam span {
        color: white;
        font-size: 20px;
        cursor: pointer;
        margin-right: 20px;
    }

.msg_cotainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #007bff;
    padding: 2px;
    position: relative;
    text-align: left;
    padding-left: 13px;
    padding-right: 13px;
    color: white;
}

.msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #fff;
    padding: 2px;
    position: relative;
    text-align: left;
    padding-left: 13px;
    padding-right: 13px;
}

.msg_time {
    position: absolute;
    left: 0;
    bottom: -15px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
}

.msg_time_send {
    position: absolute;
    right: 0;
    bottom: -15px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
}

.msg_head {
    position: relative;
}

#action_menu_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.action_menu {
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-radius: 15px;
    top: 30px;
    right: 15px;
    display: none;
}

    .action_menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .action_menu ul li {
            width: 100%;
            padding: 10px 15px;
            margin-bottom: 5px;
        }

            .action_menu ul li i {
                padding-right: 10px;
            }

            .action_menu ul li:hover {
                cursor: pointer;
                background-color: rgba(0,0,0,0.2);
            }

@media(max-width: 576px) {
    .contacts_card {
        margin-bottom: 15px !important;
        overflow: auto;
    }
}

/* body {
    padding: 40px 20% 20px 10%;
    overflow: auto;
}


.table, .form-inline {
    margin-top: 20px;
    overflow: auto;
 
}

input {
    margin: 0 12px 0 0;
    overflow: auto;
}

.container {
    background: rgba(255, 255, 255, 0.65);
    overflow: auto;
} */