.slide-top {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.755, 0.050, 0.855, 0.060) forwards;
    animation: slide-top 0.5s cubic-bezier(0.755, 0.050, 0.855, 0.060) forwards;
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}



.open-button {
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 1%;
    right: 28px;
    width: 280px;
}
.Friends-List-Body {
    background-color: rgba(0,0,0,0.4) !important;
    padding: 16px 20px;
    border: none;
    cursor: auto;
    opacity: 0.8;
    position: fixed;
    bottom: 6%;
    right: 0%;
    width: 20%;
    height: 50%;
    overflow: auto;
    border-radius: 15px !important;
}

.button-position{
    right:5%;
    position:fixed;

}

.button {
    backface-visibility: hidden;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    background: #e52;
    border-radius: 100px;
    border: 0px solid #444;
    border-width: 0px 0px 0px 0px;
    padding: 10px 13px 10px 13px;
    color: #000;
    font-size: 16px;
    font-family: Helvetica Neue;
    font-weight: 900;
    font-style: normal
    
}




.chat_positionz {
    position: fixed;
    right: 0%;
    top:0%;
    width: 100%;
    height: 100%;
}

.chatz {
    margin-top: auto;
    margin-bottom: auto;
}

.cardz {
    border-radius: 15px !important;
    position:fixed;
    right: 0%;
    width: 100%;
    height: 100%;
    top: 0%;
    color: gray;
}

.contacts_bodyz {
    padding: 0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
    color:white;
}

.msg_card_bodyz {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #d8d8d8;
}

.card-headerz {
 
    color: green;
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
    background-color: black;
  
}

.card-footerz {
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
    background-color:white;
}

.containerz {
    align-content: center;
}

.searchz {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0,0,0,0.3) !important;
    border: 0 !important;
    color: white !important;
}

    .searchz:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }

.type_msgz {
    border: 0 !important;
    height: 60px !important;
    overflow-y: auto;
    border-radius: 20px 0px 0px 20px;
}

    .type_msgz:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }

.attach_btnz {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0,0,0,0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.send_btnz {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.search_btnz {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.contactsz {
    list-style: none;
    padding: 0;
}

    .contacts li {
        width: 100% !important;
        padding: 5px 10px;
        margin-bottom: 15px !important;
    }

.active {
    background-color: rgba(0,0,0,0.3);
}

.user_img {
    height: 70px;
    width: 70px;
    border: 1.5px solid #f5f6fa;
}

.user_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;
}

.img_cont {
    position: relative;
    height: 70px;
    width: 70px;
}

.img_cont_msg {
    height: 40px;
    width: 40px;
}

.online_icon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border: 1.5px solid white;
}

.offline {
    background-color: #c23616 !important;
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

    .user_info span {
        font-size: 20px;
        color: white;
    }

    .user_info p {
        font-size: 10px;
        color: rgba(255,255,255,0.6);
    }

.video_cam {
    margin-left: 50px;
    margin-top: 5px;
}

    .video_cam span {
        color: white;
        font-size: 20px;
        cursor: pointer;
        margin-right: 20px;
    }

.msg_cotainerz {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #007bff;
    padding: 2px;
    position: relative;
    text-align: left;
    padding-left: 13px;
    padding-right: 13px;
    color: white;
}

.msg_cotainer_sendz {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #fff;
    padding: 2px;
    position: relative;
    text-align: left;
    padding-left: 13px;
    padding-right: 13px;
}

.msg_timez {
    position: absolute;
    left: 0;
    bottom: -15px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
}

.msg_time_sendz {
    position: absolute;
    right: 0;
    bottom: -15px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
}

.msg_headz {
    position: relative;
}

#action_menu_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.action_menu {
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-radius: 15px;
    top: 30px;
    right: 15px;
    display: none;
}

    .action_menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .action_menu ul li {
            width: 100%;
            padding: 10px 15px;
            margin-bottom: 5px;
        }

            .action_menu ul li i {
                padding-right: 10px;
            }

            .action_menu ul li:hover {
                cursor: pointer;
                background-color: rgba(0,0,0,0.2);
            }

